contourpy
coverage
cycler
exceptiongroup
flake8
fonttools
-e git+https://github.com/aleksyprok/python-intermediate-inflammation.git@9146bfd2a9b7df1aaae675b2bc89d809def49610#egg=inflammation_analysis
iniconfig
kiwisolver
matplotlib
mccabe
numpy
packaging
Pillow
pluggy
pycodestyle
pyflakes
pyparsing
pytest
pytest-cov
python-dateutil
six
tomli
